
.pinhole-date-tag-browser .years,
.pinhole-date-tag-browser .months,
.pinhole-date-tag-browser .days {
	padding: 0.3em 20px 0 20px;
}

* html .pinhole-date-tag-browser .years,
* html .pinhole-date-tag-browser .months,
* html .pinhole-date-tag-browser .days {
	background-image: none; /* turn off background image for IE6 */
}

.pinhole-date-tag-browser .years {
	border-bottom: 1px solid #eee;
}

.pinhole-date-tag-browser .months {
	border-bottom: 1px solid #eee;
}
.pinhole-date-tag-browser .days {
	border-bottom: 1px solid #eee;
}

.pinhole-date-tag-browser .years a,
.pinhole-date-tag-browser .years span {
	padding: 0.2em 0.4em;
}

.pinhole-date-tag-browser a.selected,
.pinhole-date-tag-browser span.selected {
	padding: 0.2em 0.5em;
}

.pinhole-date-tag-browser a,
.pinhole-date-tag-browser span {
	float: left;
	display: block;
	border-bottom: 0;
	padding: 0.2em 0.2em;
	text-decoration: none;
	border: 0;
	margin: 1px;
}

.pinhole-date-tag-browser a:hover,
.pinhole-date-tag-browser .selected {
	border-color: #eee;
	border-width: 1px;
	border-style: solid;
	border-bottom: 0;
	margin: 0;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
}

.pinhole-date-tag-browser a:hover {
	text-decoration: underline;
}

.pinhole-date-tag-browser .selected {
	font-weight: bold;
	position: relative;
	top: 2px;
}

.pinhole-tag-list-view a.rss {
	background: url('../images/rss.png') left top no-repeat;
	display: -moz-inline-box;
	height: 16px;
	overflow: hidden;
	padding-left: 40px;
	text-indent: -3000px;
	vertical-align: middle;
	width: 16px;
}
