#dates {
	padding: 0.3em 20px;
	color: #888a85;
}

#dates .years,
#dates .months,
#dates .days {
	margin-top: 0.3em;
} 

#dates .years a,
#dates .years span {
	padding: 0.2em 0.5em;
}

#dates .months a,
#dates .months span {
	padding: 0.2em 0.3em;
}

#dates .days a,
#dates .days span {
	padding: 0.2em 0.3em;
}

#dates a,
#dates span {
	float: left;
	display: block;
	border: 1px solid transparent;
	border-bottom: 1px solid #555;
	text-decoration: none;
}

#dates .selected {
	border-top: 1px solid #555;
	border-right: 1px solid #555;
	border-left: 1px solid #555;
	border-bottom: 0;
	background: #2E3436;
	font-weight: bold;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
}

#dates a:hover {
	background-color: #414544;
	border-bottom: 0;
	border-top: 1px solid #555;
	border-right: 1px solid #555;
	border-left: 1px solid #555;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
	text-decoration: underline;
}
