#hd {
	background-color: #4b4e4b;
}

#hd h1 {
	margin: 0;
	font-weight: bold;
	font-size: 167%;
	background-color: #555753;
	border-bottom: 1px solid #666;
	padding: 0.4em 20px;
}

#hd form#search_form {
	position: absolute;
	top: 1em;
	right: 20px;
	font-size: 85%;
}

#hd form#search_form.swat-form label {
	margin-right: 0.5em;
	color: #eeeeec;
}

#hd form#search_form.swat-form label:hover {
	color: #fff;
}

#hd form#search_form.swat-form input {
	vertical-align: middle;
} 

#hd form#search_form ul#search_options,
#hd form#search_form ul#search_options li,
#hd form#search_form .swat-form-field,
#hd form#search_form .swat-form-field-contents {
	display: inline;
}
