table.pinhole-calendar {
	float: left;
	margin: 0 0.5em 1em 0.5em;
}

table.pinhole-calendar caption {
	padding-bottom: 0.2em;
	margin: 0 0.5em;
}

table.pinhole-calendar caption a {
	color: #eeeeec;
}


table.pinhole-calendar thead th {
	font-size: 85%;
}

table.pinhole-calendar th,
table.pinhole-calendar td {
	text-align: center;
	padding: 1px;
	min-width: 1.3em;
}
* .html table.pinhole-calendar th,
* .html table.pinhole-calendar td {
	width: 1.3em;
}

table.pinhole-calendar td.today {
	background: #333;
}

table.pinhole-calendar td.highlight {
	background: #555;
	border: 1px #eeeeec solid;
}
