.pinhole-tag-list-view {
	font-size: 136%;
	float: left;
}

.pinhole-tag-list-view span.operator{
	font-weight: bold;
	margin: 0 0.5em 0 0;
}

.pinhole-tag-list-view span.tag-wrapper {
	border-style: solid;
	border-width: 0;
	border-color: transparent;
}

.pinhole-tag-list-view span.tag-wrapper a.tag {
	padding: 2px;
}

.pinhole-tag-list-view span.tag-wrapper a.remove {
	visibility: hidden;
	text-decoration: none;
	vertical-align: top;
	position: relative;
	top: -0.2em;
	padding: 2px 0;
}

.pinhole-tag-list-view span.tag-wrapper:hover a.remove {
	visibility: visible;
}

.pinhole-tag-list-view span.photo-count {
	font-size: 85%;
	margin-left: 0.5em;
}

.pinhole-tag-list-view img.rss {
	vertical-align: middle;
	margin: 0 0.3em;
	opacity: .6;
	filter: alpha(opacity=50); /* for IE */
}

.pinhole-tag-list-view a:hover .rss {
	opacity: 1;
	filter: alpha(opacity=100); /* for IE */
}
