h2.pinhole-tag-entity {
	margin-top: 0.5em;
	font-size: 150%;
}

.pinhole-tag-cloud span a {
	white-space: nowrap;
	padding-right: 0.1em;
}

.pinhole-browser-page-menu {
	float: right;
	padding-top: 0.3em;
}

.pinhole-browser-page-menu a {
	margin-left: 0.1em;
	padding: 0.2em 0.5em;
	border: 1px solid #666;
}
