.pinhole-sub-tag-list-view ul li {
	margin: 0.4em 0;
}

.pinhole-sub-tag-list-view ul li a.view-all {
	white-space: nowrap;
}

.pinhole-sub-tag-more-link {
	display:block;
	margin-top: 0.5em;
	padding-top: 0.5em;
	border-top: 1px solid #999;
}
