.pinhole-calendar-gadget-container table {
	width: 16em;
}

.pinhole-calendar-gadget-container table a {
	display: block;
}

.pinhole-calendar-gadget td {
	text-align: center;
	width: 2em;
	height: 1.5em;
}

.pinhole-calendar-gadget td a {
	text-decoration: none;
}

.pinhole-calendar-gadget .days-of-week {
	font-size: 90%;
}

.pinhole-calendar-body {
	text-align: center;
	height: 12em;
	width: 16em;
}

.pinhole-calendar-gadget-head {
	width: 16em;
	position: relative;
	text-align: center;
	padding-bottom: 6px;
}

.pinhole-calendar-gadget-month {
	margin: 0 2em;
}

.pinhole-calendar-gadget-prev {
	padding: 0 1em 0 0.5em;
	text-decoration: none;
	font-weight: bold;
	position: absolute;
	left: 0;
	top: 0;
}

.pinhole-calendar-gadget-next {
	padding: 0 0.5em 0 1em;
	font-weight: bold;
	text-decoration: none;
	position: absolute;
	right: 0;
	top: 0;
}
