@import url("pinhole-layout-header.css");
@import url("pinhole-layout-footer.css");
@import url("pinhole-layout-sidebar.css");
@import url("pinhole-photo-tile.css");
@import url("pinhole-intersecting-tag-list.css");

#doc3 { margin: auto; } /* override 10px left/right margin from YUI grid */

body {
	background-color: #2e3436;
	color: #eeeeec;
	font-family: candara, gill sans, arial, helvetica, clean, sans-serif;
}

#content {
	margin: 20px;
}


/* Links */

a:link    { color: #b0c9e4; } 
a:visited { color: #b0c9e4; } 
a:hover   { color: #729fcf; }
a:active  { color: #729fcf; }
