.pinhole-calendar {
	float: left;
	padding: 1em 0.5em;
}

.pinhole-calendar h2 {
	padding-bottom: 0.2em;
}

.pinhole-calendar h2 a {
	color: #fff;
}

.pinhole-calendar-weeks {
	font-size: 80%;
}

.pinhole-calendar td {
	text-align: center;
	padding: 1px;
	min-width: 1.3em;
} * .html .pinhole-calendar td {
	width: 1.3em;
}

.pinhole-calendar td.today {
	background: #333;
}

.pinhole-calendar td.highlight {
	background: #555;
	border: 1px #fff solid;
}
