.pinhole-photo-next-prev {
	float: right;
	padding-top: 0.3em;
}

.pinhole-photo-next-prev a,
.pinhole-photo-next-prev span {
	margin-left: 0.1em;
	padding: 0.2em 0.5em;
	border: 1px solid #eee;
}

.pinhole-photo-next-prev a.next,
.pinhole-photo-next-prev a.prev,
.pinhole-photo-next-prev span.next,
.pinhole-photo-next-prev span.prev {
	background-image: url(../images/next-prev-arrows.png);
	background-repeat: no-repeat;
}

.pinhole-photo-next-prev a.prev,
.pinhole-photo-next-prev span.prev {
	background-position: left center;
	padding-left: 20px;
}

.pinhole-photo-next-prev a.next,
.pinhole-photo-next-prev span.next {
	background-position: right center;
	padding-right: 20px;
}
