#sidebar {
	margin-top: 20px;
	margin-left: 20px;
}

#sidebar ul.tag-list li {
	margin: 0.6em 0;
}

#sidebar ul.tag-list li a {
	background-color: #353b3b;
	text-decoration: none;
	padding: 0.2em 0.5em 0.1em 0.2em;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border: 1px solid #3b403f;
	border-left: 4px solid #3b403f;
}

#sidebar ul.tag-list li a:hover {
	background-color: #434745;
	border-color: #4f4f4c;
}
