/*
.pinhole-photo-tag-entry {
	position: relative;
}
*/

.pinhole-photo-tag-entry { /* set width of widget here*/
	position: relative;
	width: 30em;
	margin-bottom: 1em;
}
.pinhole-photo-tag-entry { /* for IE z-index of absolute divs inside relative divs issue */
	z-index: 9000
} 

.pinhole-photo-tag-entry input { /* abs for ie quirks */
	position: absolute;
	width: 100%;
	z-index: 0;
} 

.pinhole-photo-tag-container {
	position: absolute;
	top: 1.3em;
	width: 100%
}

.pinhole-photo-tag-container .yui-ac-content {
	position: absolute;
	width: 100%;
	border: 1px solid #404040;
	background: #fff;
	overflow: hidden;
	z-index: 9050;
}

/*.pinhole-photo-tag-container .yui-ac-shadow {
	position: absolute;
	margin: .3em;
	width: 100%;
	background: #a0a0a0;
	z-index: 9049;
}*/

.pinhole-photo-tag-container ul {
	margin: 0;
	padding: 5px 0;
	width: 100%;
}

.pinhole-photo-tag-container li {
	padding: 2px 5px;
	cursor: default;
	white-space: nowrap;
}

li.pinhole-photo-tag-highlight {
	background: #B5D5FF;
}

li.pinhole-photo-tag-prehighlight {
	background: #FFFFCC;
}

.pinhole-photo-tag-list {
	padding: 3px;
	width: 30em;
}

.pinhole-photo-tag-list ul {
	margin: 1.8em 0 0 0;
}

.pinhole-photo-tag-list li {
	margin-left: 0;
	padding: 2px;
}
