#hd {
	background-color: #414544;
}

#hd h1 {
	margin: 0;
	font-weight: bold;
	font-size: 167%;
	background-color: #555753;
	border-bottom: 1px solid #666;
	padding: 0.4em 20px;
}

#hd form#search {
	position: absolute;
	top: 1em;
	right: 20px;
}

#hd form#search label {
	margin-right: 0.5em;
}

#hd form#search label:hover {
	color: #fff;
}

#hd form#search input {
	vertical-align: middle;
} 
