#dates {
	color: #888a85;
}

#dates .years,
#dates .months,
#dates .days {
	padding: 0.3em 20px 0 20px;
	background: url(../images/date-browser-background.png) bottom repeat-x;
}

#dates .years {
	background-color: #434745;
	border-bottom: 1px solid #4f4f4c;
}

#dates .months {
	background-color: #3b4040;
	border-bottom: 1px solid #454846;
}
#dates .days {
	background-color: #353b3b;
	border-bottom: 1px solid #3b403f;
}

#dates .years a,
#dates .years span {
	padding: 0.2em 0.5em;
}

#dates .days a.selected,
#dates .days span.selected {
	padding: 0.2em 0.5em;
}

#dates a,
#dates span {
	float: left;
	display: block;
	border: 1px solid transparent;
	border-bottom: 0;
	padding: 0.2em 0.2em;
	text-decoration: none;
}

#dates a:hover,
#dates .selected {
	border-width: 1px;
	border-style: solid;
	border-bottom: 0;
	background: #2E3436;
	-moz-border-radius-topright: 4px;
	-moz-border-radius-topleft: 4px;
}

#dates a:hover {
	text-decoration: underline;
}

#dates .selected {
	font-weight: bold;
	position: relative;
	top: 1px;
}

#dates .years .selected,
#dates .years a:hover {
	background-color: #3b4040;
	border-color: #4f4f4c;
}

#dates .months .selected,
#dates .months a:hover {
	background-color: #353b3b;
	border-color: #454846;
}

#dates .days .selected,
#dates .days a:hover {
	background-color: #2E3436;
	border-color: #3b403f;
}
