.pinhole-photo-scroller {
	float: right;
	padding-top: 0.3em;
}

.pinhole-photo-scroller a,
.pinhole-photo-scroller span {
	color: #babdb6;
	margin-left: 0.1em;
	padding: 0.2em 0.5em;
	border: 1px solid #555753;
	text-decoration: none;
}

.pinhole-photo-scroller a:link    { color: #babdb6; }
.pinhole-photo-scroller a:visited { color: #babdb6; }
.pinhole-photo-scroller a:hover   { color: #eeeeec; background-color: #555753; }
.pinhole-photo-scroller a:active  { color: #eeeeec; }
