h2#page_title {
	font-size: 136%;
	margin-bottom: 0.2em;
}

/*
 * Clearfix hack:
 * Remove this when the clearfix style is applied to the #sub_hd element
 * properly.
 */
#sub_hd:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
#sub_hd {display:inline-block;}
/* Hide from IE Mac \*/
#sub_hd {display:block;}
/* End hide from IE Mac */

.swat-tile-view .swat-tile a:hover {
	background: #eee;
}

.swat-tile-view .site-image-wrapper img {
	border: 1px solid #eee;
	background: #fff;
}

.swat-tile-view .swat-tile {
	padding: 1px;
}

.pinhole-tag-list-view a.feed {
	background: url('../images/feed.png') left top no-repeat;
	display: -moz-inline-box;
	height: 16px;
	color: rgba(255,255,255,0);
	font: 0/0 Arial;
	overflow: hidden;
	text-indent: -3000px;
	vertical-align: middle;
	width: 16px;
}

