.pinhole-tile-view .swat-tile {
	width: 130px;
	height: auto;
	padding: 0;
	margin: 5px;
	float: left;
	text-align: center;
	border: 1px solid transparent;
}

.pinhole-tile-view .swat-tile a {
	padding: 10px;
	display: block;
	border: 1px solid transparent;
	text-decoration: none;
}

.pinhole-tile-view .swat-tile a:hover {
	border: 1px solid #555753;
	background: #33393a;
}

.pinhole-tile-view .swat-tile span {
	display: block;
	height: 2em;
	padding: 0.3em 0;
}

.pinhole-tile-view img {
	display: block;
	margin: 0 auto;
	padding: 2px;
	border: 1px solid #888a85;
	background: #555753;
}

