.two-column #photo_view {
	overflow: auto;
	height: 400px;
	border: 1px solid #ccc;
	margin-top: 1em;
}

.two-column #confirmation_container {
	float: left;
	width: 300px;
}

.two-column #controls_frame {
	margin-left: 370px;
}

#time_fieldset .swat-form-field {
	float: left;
	padding-right: 0.5em;
}

#time_fieldset .date-break {
	clear: left;
}
