#processing_message {
	font-size: 200%;
}

#processing_errors {
	width: 500px;
	font-weight: bold;
	margin: 1em 0;
}

#processing_errors div {
	font-weight: normal;
	color: #900;
	padding-top: 0.5em;
	border-top: 1px solid #ccc;
}

#processing_tags {
	width: 500px;
	font-weight: bold;
	margin: 1em 0;
}

#processing_tags div {
	font-weight: normal;
	padding-top: 0.5em;
	border-top: 1px solid #ccc;
}

#processing_div {
	margin: 1em 0;
}

a.disabled-link {
	text-decoration: none;
	color: #999;
}
