#title, #description {
	width: 98%;
}

/* Safari hack */
body:last-child:not(:root:root) #description {
	resize: vertical;
	max-width: 98%;
	min-width: 98%;
}

#page_primary {
	float: left;
	width: 450px;
	margin-right: 20px;
}

#status_field .swat-form-field-contents {
	margin: 0;
	padding: 0;
}

#status {
	margin: 0 0 0.5em 0;
}

#page_sidebar {
	float: left;
}

.swat-footer-form-field {
	clear: both;
}

#photo_time_zone_areas {
	display: block;
}

.swat-grouping-form-field-fieldset .swat-form-field {
	padding-top: 0;
}

#privacy_field .swat-form-field-contents {
	display: block;
}

#privacy_field .swat-form-field-contents .swat-form-field-contents {
	display: inline;
}

#passphrase_field label {
	font-size: 90%;
	display: block;
}

#comment_status_field .swat-note {
	width: 250px;
}
