.swat-tile {
	height: auto;
	border: 1px solid #ccc;
	padding: 0;
	font-size: 85%;
	width: 108px;
}

.swat-tile a {
	text-decoration: none;
}

.swat-tile a span {
	display: block;
	height: 3em;
	padding: 0 0.2em;
}

.swat-tile label {
	display: block;
	font-weight: normal;
	padding: 3px;
	background: #eeeeec;
	color: #888a85;
}

.swat-tile div, .swat-tile img {
	padding: 4px;
}

.swat-tile label:hover {
	background: #d3d7cf;
	color: #555753;
}

.swat-tile label input {
	vertical-align: middle;
}

.swat-tile label input {
	margin-right: 4px;
}

.swat-tile div {
	display: block;
	height: 3em;
	padding: 4px;
}

.swat-pagination {
	clear: left;
}
